body {
    margin: 0px;
}

.top-bar {
    background-color: #1F68B0;
    padding:8px;
}

.content {
    margin: 16px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif !important;
    color: rgba(0, 0, 0, 0.69) !important;
    background-color: #ffffff;
}